@font-face {
    font-family: 'NexaRustSans-Black-Free';
    src: font_url('NexaRustSans-Black-Free-webfont.woff2') format('woff2'),
         font_url('NexaRustSans-Black-Free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
